body{
	font-family: 'Century Gothic',helvetica,verdana,arial;
	background-size: cover;
	margin:0;
	background-color: rgb(255, 255, 255);
}


.tytul{
	text-align: center;
	font-style: italic;
	font-weight: 1000;
	font-size: 50px !important;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}
.foto{
	width: 75px;
	height: 75px;
}
.bottom-space{
	margin-bottom: 1em;
	color: rgb(153, 153, 153);	
	font-weight: 1000;
	
}
.footer{
	padding: 2em 0 2em 0;
	position: fixed;
	bottom: 0;
	margin: 0;
	border: 0;
	left:0;
	width: 100%;
	text-align: center;
	background-color: rgb(233, 233, 233);
	color: rgb(153, 153, 153);	
	font-size: 20px;

}
.top-space{
	margin-top: 1em;
	
}

#page_wrapper{
	margin: 3em;
	text-align: center;
	font-size: 30px;
	min-width: 700px;
}

.ui-panel .ui-panel-content{
	
}

body .ui-panel>div:last-of-type{
	  
    border-radius: 10px;
	
}

 
.ui-g div {

    padding: 1px;
}
.ui-g-6 {

}

a:link.hyperlinks {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

a:visited.hyperlinks {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

a:hover.hyperlinks {
  color: rgb(255, 128, 128);
  background-color: transparent;
  text-decoration: none;
}

.tabstext{
	font-size: 22px;
}

body .ui-tabs.ui-tabs-top>.ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: rgb(255, 128, 128);
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: rgb(255, 128, 128);
}


